#### Installation de pandas

pip install -U pandas

#### importation de pandas et numpy

In [1]:
import numpy as np
import pandas as pd

### Chargement de data

In [30]:
## create of dataframe

df = pd.DataFrame({
    "AGe":[12, 15, 16, 14,70, 15, 18, 52, 17],
    "BMI":[12.4, 15.68, 18.4, "", 75, 15.5, 14.8, 19.56, 0.33],
    "Diabetes":["No", "Yes", 'No', 'NAN', "Yes", "No", "no", "No", "Yes"]
})

df

   AGe    BMI Diabetes
0   12   12.4       No
1   15  15.68      Yes
2   16   18.4       No
3   14             NAN
4   70     75      Yes
5   15   15.5       No
6   18   14.8       no
7   52  19.56       No
8   17   0.33      Yes

In [16]:
### 05 premieres lignes d'un dataframe

df.head(5)

   AGe    BMI Diabetes
0   12   12.4       No
1   15  15.68      Yes
2   16   18.4       No
3   14             NAN
4   70     75      Yes

In [17]:
### verifier la dimension de mon dataframe

df.shape

(9, 3)

In [18]:
### types de donnnées de mon dataframe
df.dtypes

AGe          int64
BMI         object
Diabetes    object
dtype: object

In [19]:
### verfieles valeurs manquantes 

df.isnull() # df.isna()

     AGe    BMI  Diabetes
0  False  False     False
1  False  False     False
2  False  False     False
3  False  False     False
4  False  False     False
5  False  False     False
6  False  False     False
7  False  False     False
8  False  False     False

In [20]:
    ### nombres total de valeurs manquantes
    
df.isnull().sum()

AGe         0
BMI         0
Diabetes    0
dtype: int64

In [21]:
### format d'un dataframe 

# .csv, .xlsx(excel), .html, .parquet

In [ ]:
data = pd.read_csv("../DATA/Crimes_-_2024_20251107.csv")

##df = pd.read_excel("")

# les premieres lignes de la dataframe
data.head(10)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,13709672,JJ101940,12/31/2024 11:58:00 PM,014XX E 68TH ST,1310,CRIMINAL DAMAGE,TO PROPERTY,APARTMENT,False,False,...,5,43,14,1186817.0,1860189.0,2024,11/02/2025 03:41:09 PM,41.771470,-87.590742,POINT (-87.59074212 41.771470188)
1,13707925,JJ100089,12/31/2024 11:56:00 PM,047XX S DR MARTIN LUTHER KING JR DR,1365,CRIMINAL TRESPASS,TO RESIDENCE,APARTMENT,True,True,...,3,38,26,1179661.0,1873623.0,2024,05/17/2025 03:40:52 PM,41.808501,-87.616563,POINT (-87.616562762 41.808500903)
2,13708038,JJ100035,12/31/2024 11:55:00 PM,077XX S CICERO AVE,0498,BATTERY,"AGG. DOMESTIC BATTERY - HANDS, FISTS, FEET, SE...",HOTEL / MOTEL,False,True,...,18,70,04B,1145740.0,1853048.0,2024,11/02/2025 03:41:09 PM,41.752749,-87.741498,POINT (-87.741497836 41.752748627)
3,13709164,JJ101392,12/31/2024 11:53:00 PM,066XX S GREENWOOD AVE,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,...,20,42,14,1184362.0,1861188.0,2024,11/02/2025 03:41:09 PM,41.774269,-87.599710,POINT (-87.599709962 41.774269351)
4,13707823,JJ100020,12/31/2024 11:50:00 PM,012XX N MENARD AVE,0460,BATTERY,SIMPLE,SIDEWALK,False,False,...,29,25,08B,1137458.0,1907694.0,2024,05/17/2025 03:40:52 PM,41.902858,-87.770537,POINT (-87.770536741 41.902858242)
5,13707839,JJ100021,12/31/2024 11:46:00 PM,021XX W CULLERTON ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,STREET,False,True,...,25,31,08B,1162508.0,1890389.0,2024,05/17/2025 03:40:52 PM,41.854884,-87.679008,POINT (-87.67900769 41.854883985)
6,13707986,JJ100019,12/31/2024 11:45:00 PM,117XX S STATE ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,False,True,...,9,53,08B,1178352.0,1827293.0,2024,11/02/2025 03:41:09 PM,41.681396,-87.622767,POINT (-87.622767037 41.68139574)
7,13707849,JJ100011,12/31/2024 11:45:00 PM,018XX W MAYPOLE AVE,1310,CRIMINAL DAMAGE,TO PROPERTY,APARTMENT,False,False,...,27,28,14,1164081.0,1901067.0,2024,05/17/2025 03:40:52 PM,41.884152,-87.672933,POINT (-87.672932576 41.884152322)
8,13707847,JJ100007,12/31/2024 11:42:00 PM,029XX W CHICAGO AVE,1345,CRIMINAL DAMAGE,TO CITY OF CHICAGO PROPERTY,CTA BUS,False,False,...,36,24,14,1156857.0,1905197.0,2024,11/02/2025 03:41:09 PM,41.895635,-87.699348,POINT (-87.699347915 41.895634912)
9,13707836,JJ100034,12/31/2024 11:40:00 PM,0000X S OAKLEY BLVD,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,STREET,False,False,...,27,28,07,1161090.0,1899804.0,2024,11/02/2025 03:41:09 PM,41.880749,-87.683951,POINT (-87.683950956 41.880749175)

In [ ]:
### la dimensions
data.shape

(258792, 22)

In [24]:
data.dtypes

ID                        int64
Case Number              object
Date                     object
Block                    object
IUCR                     object
Primary Type             object
Description              object
Location Description     object
Arrest                     bool
Domestic                   bool
Beat                      int64
District                  int64
Ward                      int64
Community Area            int64
FBI Code                 object
X Coordinate            float64
Y Coordinate            float64
Year                      int64
Updated On               object
Latitude                float64
Longitude               float64
Location                 object
dtype: object

In [25]:
# les valeurs manquantes

data.isnull().sum()

ID                         0
Case Number                0
Date                       0
Block                      0
IUCR                       0
Primary Type               0
Description                0
Location Description    1090
Arrest                     0
Domestic                   0
Beat                       0
District                   0
Ward                       0
Community Area             0
FBI Code                   0
X Coordinate            1235
Y Coordinate            1235
Year                       0
Updated On                 0
Latitude                1235
Longitude               1235
Location                1235
dtype: int64

In [26]:
missing_values = data.isnull().sum()

# pourcentage
ratio = missing_values *100/len(data)

df_missing = pd.DataFrame(
    {
    "missing_total": missing_values,
    "pourcentage": ratio
    }
)

df_missing

                      missing_total  pourcentage
ID                                0     0.000000
Case Number                       0     0.000000
Date                              0     0.000000
Block                             0     0.000000
IUCR                              0     0.000000
Primary Type                      0     0.000000
Description                       0     0.000000
Location Description           1090     0.421188
Arrest                            0     0.000000
Domestic                          0     0.000000
Beat                              0     0.000000
District                          0     0.000000
Ward                              0     0.000000
Community Area                    0     0.000000
FBI Code                          0     0.000000
X Coordinate                   1235     0.477217
Y Coordinate                   1235     0.477217
Year                              0     0.000000
Updated On                        0     0.000000
Latitude                       1235     0.477217
Longitude                      1235     0.477217
Location                       1235     0.477217

In [ ]:
data.isna().sum()

In [28]:
### analyse descriptives

data.describe()

,ID,Beat,District,Ward,Community Area,X Coordinate,Y Coordinate,Year,Latitude,Longitude
count,2.587920e+05,258792.000000,258792.000000,258792.000000,258792.000000,2.575570e+05,2.575570e+05,258792.0,257557.000000,257557.000000
mean,1.349158e+07,1157.200644,11.342147,23.187548,36.181486,1.165282e+06,1.887736e+06,2024.0,41.847531,-87.668942
std,6.534467e+05,709.322260,7.087917,13.949805,21.608969,1.616080e+04,3.153839e+04,0.0,0.086724,0.058848
min,2.793200e+04,111.000000,1.000000,1.000000,1.000000,1.092647e+06,1.813897e+06,2024.0,41.644590,-87.934567
25%,1.342528e+07,533.000000,5.000000,10.000000,22.000000,1.154006e+06,1.860556e+06,2024.0,41.772690,-87.709894
50%,1.352165e+07,1034.000000,10.000000,23.000000,32.000000,1.167128e+06,1.894416e+06,2024.0,41.866091,-87.661855
75%,1.361702e+07,1732.000000,17.000000,34.000000,53.000000,1.176639e+06,1.910460e+06,2024.0,41.910074,-87.627352
max,1.401934e+07,2535.000000,31.000000,50.000000,77.000000,1.205119e+06,1.951493e+06,2024.0,42.022548,-87.524531

In [29]:
data.describe(exclude=["object", "bool"])

,ID,Beat,District,Ward,Community Area,X Coordinate,Y Coordinate,Year,Latitude,Longitude
count,2.587920e+05,258792.000000,258792.000000,258792.000000,258792.000000,2.575570e+05,2.575570e+05,258792.0,257557.000000,257557.000000
mean,1.349158e+07,1157.200644,11.342147,23.187548,36.181486,1.165282e+06,1.887736e+06,2024.0,41.847531,-87.668942
std,6.534467e+05,709.322260,7.087917,13.949805,21.608969,1.616080e+04,3.153839e+04,0.0,0.086724,0.058848
min,2.793200e+04,111.000000,1.000000,1.000000,1.000000,1.092647e+06,1.813897e+06,2024.0,41.644590,-87.934567
25%,1.342528e+07,533.000000,5.000000,10.000000,22.000000,1.154006e+06,1.860556e+06,2024.0,41.772690,-87.709894
50%,1.352165e+07,1034.000000,10.000000,23.000000,32.000000,1.167128e+06,1.894416e+06,2024.0,41.866091,-87.661855
75%,1.361702e+07,1732.000000,17.000000,34.000000,53.000000,1.176639e+06,1.910460e+06,2024.0,41.910074,-87.627352
max,1.401934e+07,2535.000000,31.000000,50.000000,77.000000,1.205119e+06,1.951493e+06,2024.0,42.022548,-87.524531